* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.pp {
    background-image: url('https://cdn.pixabay.com/photo/2023/04/12/11/32/sparrow-7920064_960_720.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
.footer {
    background: #E38021;
  }
@media only screen and (max-width: 768px)
  {
    .sec-1{
      margin-top: -35%;
    }
    .footer {
      margin-top: -30%;
      height: 20vh;
    }
  }
@media only screen and (min-width: 768.5px)
  {
    .sec-1 {
      margin-top: -10%;
    }
    .footer {
      margin-top: -10%;
      height: 35vh;
    }
  }
