* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body {
  background: #C2C2C2;
}
.footer {
    background: #E38021;
  }
@media only screen and (max-width: 768px)
  {
    .sec-1{
      margin-top: -1%;
    }
    .footer {
      margin-top: 0%;
      height: 20vh;
    }
  }
@media only screen and (min-width: 768.5px)
  {
    .sec-1 {
      margin-top: -1%;
    }
    .footer {
      margin-top: 0%;
      height: 35vh;
    }
  }
.bg-orange {
  background: #E98912;
}
.text-orange {
  color: #E98912;
}